* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'segoe UI', sans-serif;
    background-color: #1b1f23;
    color: white;
    height: 100vh;
}

/* Barra lateral */

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.4rem;
    padding-bottom: 14px;
}

.logo img {
    width: 40px;
    height: 40px;

}

.sidebar {
    font-size: 24px;
    width: 250px;
    background-color: #171a21;
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    display: block;
    color: #c7d5e0;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 9px;
    border-radius: 5px;
    transition: background 0.2s;
}

.sidebar a:hover {
    background-color: #2a2f36;
}

/* conteudo principal */

.game-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 69px;
    background-color: #2a2f36;
    max-height: 600px;
}

.game-content {
    border-radius: 8px;
    display: flex;
    gap: 30px;
}

.game-image {
    border: #171a21 solid;
    width: 769px;
    max-width: 100%;
    border-radius: 8px;
}

.info-section {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-section h1 {
    font-size: 60px;
}

.info {
    font-size: 23px;
}

.bottom-section {
    display: flex;
    justify-content: first baseline;
    padding-top: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.links a {
    color: #00aaff;
    text-decoration: none;
    margin-right: 15px;
}

.links a:hover {
    text-decoration: underline;
}

button {
    font-size: 25px;
    margin-top: 20px;
    color: aliceblue;
    border: 0;
    cursor: pointer;
    background: radial-gradient(circle at 30% 30%, #0b7c3a 60%, #145a32 100%);
    height: 59px;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(23, 199, 23);
}